@import '@shared/lib/mixins';

.section {
	aspect-ratio: 480 / 926;
	padding-bottom: 9.583%;

	@media (min-width: #{$_media-table}px) {
		aspect-ratio: 768 / 432;
		padding-bottom: 2.6041%;
	}

	@media (min-width: #{$_media-desk}px) {
		aspect-ratio: 1920 / 940;
		padding-bottom: 2.6565%;
	}
}

.title {
	@include adaptive-font-sizes(
		(
			'phone': 100,
			'table': 80,
			'table-desk': 100,
			'desk': 210
		)
	);

	margin-bottom: 0.25em;
	margin-top: 1.6em;
	@media (min-width: #{$_media-table}px) {
		margin-top: 0.15em;
		margin-left: -0.2em;
		margin-bottom: 0.1em;
	}
	@media (min-width: #{$_media-desk}px) {
		margin-top: 0;
		margin-left: -0.2452em;
		margin-bottom: 0.2em;
	}
}

.titleSign {
	width: 4em;
	height: 1.7em;
	@media (min-width: #{$_media-table}px) {
		width: 4.75em;
		height: 2em;
	}
	@media (min-width: #{$_media-desk}px) {
		width: 3.8633em;
		height: 2.05em;
	}
}

.titleText {
	margin-left: 0.17em;
	@media (min-width:  #{$_media-table}px) {
		margin-left: 0;
		margin-bottom: -0.8em;
	}
	@media (min-width:  #{$_media-desk}px) {
		margin-bottom: -0.696em;
	}
}

.text {
	@include adaptive-font-sizes(
		(
			'phone': 18,
			'table': 14,
			'table-desk': 16,
			'desk': 21
		)
	);

	max-width: 20.09em;
	margin-left: 0.9em;
	@media (min-width: #{$_media-table}px) {
		margin-left: 0;
		max-width: 26.1904em;
		width: 54%;
	}
	@media (min-width: #{$_media-table-desk}px) {
		width: auto;
	}
}

.buttonPlayer {
	@include adaptive-set-all-media(
		(
			'phone': (
				width: 60,
				height: 60
			),
			'table': (
				width: 50,
				height: 50
			),
			'table-desk': (
				width: 60,
				height: 60
			),
			'desk': (
				width: 80,
				height: 80
			)
		)
	);
}
