@import '@shared/lib/mixins';

.wrapper {
	@include adaptive-font-sizes(
		(
			'phone': 15,
			'table': 12,
			'table-desk': 15,
			'desk': 21
		)
	);
}

.header {
	grid-template-columns: 1fr 5em 1fr;

	@include adaptive-set-all-media(
		(
			'phone': (
				padding-top: 15,
				padding-bottom: 15
			),
			'table': (
				padding-top: 14,
				padding-bottom: 14
			),
			'table-desk': (
				padding-top: 16,
				padding-bottom: 16
			),
			'desk': (
				padding-top: 20,
				padding-bottom: 20
			)
		)
	);

	@media (min-width: #{$_media-table}px) {
		grid-template-columns: 1fr 5.8333em 1fr;
	}
	@media (min-width: #{$_media-desk}px) {
		grid-template-columns: 1fr 6.4285em 1fr;
	}
}

.leftActions {
	gap: 1.6666em;

	@media (min-width: #{$_media-desk}px) {
		gap: 2.8571em;
	}
}

.rightActions {
	gap: 1.7341em;

	@media (min-width: #{$_media-desk}px) {
		gap: 1.4285em;
	}
}

.listButtons {
	gap: 0.65em;
	padding-right: 0.619em;

	@media (min-width: #{$_media-table}px) {
		gap: 1.0952em;
	}
}

.listButtonsIcon {
	height: 1.2666em;
	width: 1.4666em;
	@media (min-width: #{$_media-table}px) {
		height: 1.35em;
		width: 1.4333em;
	}
	@media (min-width: #{$_media-desk}px) {
		height: 1.5238em;
		width: 1.7619em;
	}
}

.listButtonsNum {
	width: 2em;
	height: 2em;
	top: -0.3571em;
	right: -1em;
	font-size: 0.6em;
	@media (min-width: #{$_media-table}px) {
		font-size: 0.6666em;
	}
}

.burger {
	gap: 0.6666em;
	@media (min-width: #{$_media-table}px) {
		gap: 0.42em;
	}
	@media (min-width: #{$_media-desk}px) {
		gap: 0.5714em;
	}
}
