@import '@shared/lib/mixins';

.section {
	padding-top: 5%;
	padding-bottom: 5%;
	@media (min-width: #{$_media-table}px) {
		padding-top: 2.6562%;
	}
}

.title {
	margin-left: -0.095em;
	margin-top: 0.095em;
}

.titleSign {
	width: 6.7428em;
	height: 1.0428em;
	margin-left: 3.93em;
	margin-top: -0.63em;
}

.titleSignTable {
	width: 11.6666em;
	height: 2.6666em;
	margin-top: -0.3em;
	margin-bottom: -0.3em;
}

.titleSignMob {
	width: 8.18em;
	height: 2.1em;
	margin-top: -0.2em;
}

.leaf7 {
	top: 0.7vw;
	left: 4vw;
	z-index: -1;

	@media (min-width: #{$_media-table}px) {
		top: -4.3vw;
		left: 0vw;
	}

	@media (min-width: #{$_media-table-desk}px) {
		top: -5.7vw;
		left: 7vw;
	}

	@include adaptive-set-all-media(
		(
			'phone': (
				width: 100
			),
			'table': (
				width: 152
			),
			'table-desk': (
				width: 180
			),
			'desk': (
				width: 269
			)
		)
	);
}

.content {
	@include adaptive-font-sizes(
		(
			'phone': 16,
			'table': 16,
			'table-desk': 12,
			'desk': 21
		)
	);

	@include adaptive-set-all-media(
		(
			'desk': (
				margin-top: -125
			)
		)
	);

	@media (min-width: #{$_media-table-desk}px) {
		grid-template-columns: 1fr 34.375vw 1fr;
	}
}

.contentText1 {
	margin-right: 1em;
	@include adaptive-set-all-media(
		(
			'desk': (
				margin-top: 150
			)
		)
	);
}

.test {
	@include adaptive-font-sizes(
		(
			'phone': 12,
			'table': 14,
			'table-desk': 12,
			'desk': 16
		)
	);
}
