@import '@shared/lib/mixins';

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
	--foreground-rgb: 0, 0, 0;
	--background-start-rgb: 214, 219, 220;
	--background-end-rgb: 255, 255, 255;
	--coff-xs: 4.8;
	--coff-sm: 6;
	--coff-md: 7.68;
	--coff-lg: 9.92;
	// --coff-xl: 12.8;
	--coff-xl: 19.2;
	--coff-2xl: 19.2;
}

@media (prefers-color-scheme: dark) {
	:root {
		--foreground-rgb: 255, 255, 255;
		--background-start-rgb: 0, 0, 0;
		--background-end-rgb: 0, 0, 0;
	}
}

html {
	max-width: min(100%, 100vw);
	overflow-x: hidden;
}

body {
	text-rendering: optimizeSpeed;
	font-feature-settings: 'lnum', 'pnum';
	max-width: min(100%, 100vw);
	overflow-x: hidden;
}

@layer utilities {
	.text-balance {
		text-wrap: balance;
	}
}

.container {
	@apply w-full px-container-xs sm:px-container-sm md:px-container-md lg:px-container-lg xl:px-container-xl;
}

.embla {
	overflow: hidden;
}
.embla__container {
	display: flex;
}

.leaf {
	position: absolute;
	height: auto;
	pointer-events: none;
}

.title-section {
	@include adaptive-font-size-down(50, 1, 480);
	@include adaptive-font-size-up(51, 481, 599);
	@include adaptive-font-size-up(55, 600, 767);
	@include adaptive-font-size-up(60, 768, 991);

	@include adaptive-font-size-up(80, 992, 1279);
	@include adaptive-font-size-down(140, 1280, 1920, 'min-include');
	@include adaptive-font-size-up(140, 1920, 2600);

	line-height: 1;
	font-weight: 300;
	text-transform: uppercase;
	& > span {
		position: relative;
		svg {
			top: 0;
			left: 0;
			position: absolute;
			z-index: 1;
			width: 100%;
			height: 100%;
		}
		svg text {
			fill: transparent;
			stroke: #fff;
			stroke-width: 1px;
			stroke-linejoin: round;
			paint-order: stroke;
		}
	}
}
