@import '@shared/lib/mixins';

.slide {
	flex: 0 0 100%;
	min-width: 0;
	width: 100%;
	aspect-ratio: 480 / 865;

	@media (min-width: #{$_media-table}px) {
		aspect-ratio: 768 / 432;
	}

	@media (min-width: #{$_media-desk}px) {
		aspect-ratio: 1920 / 835;
	}
}

.dots {
	gap: calc(4vw / var(--coff-desk));

	@include adaptive-set-all-media(
		(
			'phone': (
				bottom: 21
			),
			'table': (
				bottom: 14
			),
			'table-desk': (
				bottom: 18
			),
			'desk': (
				bottom: 37
			)
		)
	);
}

.buttonDot {
	@include adaptive-set-all-media(
		(
			'phone': (
				width: 35,
				height: 35
			),
			'table': (
				width: 20,
				height: 20
			),
			'table-desk': (
				width: 25,
				height: 25
			),
			'desk': (
				width: 35,
				height: 35
			)
		)
	);
	svg {
		width: 100%;
		height: 100%;
	}
	svg circle:first-child {
		opacity: 0;
		transition: opacity 225ms;
	}
}

.buttonDotActive {
	svg circle:first-child {
		opacity: 1;
		animation: start-progress 6.25s;
	}
}

@keyframes start-progress {
	0% {
		stroke-dashoffset: 106.76;
	}
	100% {
		stroke-dashoffset: 0;
	}
}
