@import '@shared/lib/mixins';

.section {
	padding-bottom: 14.2%;
	padding-top: 12.4%;
	@media (min-width: #{$_media-table-desk}px) {
		padding-top: 17.7%;
		padding-bottom: 13.3333%;
	}
}

.titleSign {
	width: 6em;
	height: 1.9em;
	margin-bottom: -0.4em;
	@media (min-width: #{$_media-table}px) {
		width: 7.9em;
		height: 2.0666em;
		margin-bottom: -0.6em;
	}

	@media (min-width: #{$_media-table-desk}px) {
		margin-left: 1.89em;
		margin-bottom: -0.07em;
		width: 4.2357em;
		height: 0.7571em;
	}
}

.title > span:nth-child(1) {
	margin-left: -0.0928em;
	margin-bottom: 0.14em;
	@media (min-width: #{$_media-table-desk}px) {
		margin-bottom: 0;
	}
}

.title > span:nth-child(3) {
	margin-left: -0.0928em;
	margin-bottom: 0.19em;
	@media (min-width: #{$_media-table}px) {
		margin-left: -0.09281em;
		margin-bottom: 0;
	}
	@media (min-width: #{$_media-table-desk}px) {
		margin-left: 1.82em;
		margin-top: -0.05em;
	}
}

.title > span:nth-child(4) {
	margin-left: 2.52em;
	@media (min-width: #{$_media-table}px) {
		margin-left: 0.21em;
	}
	@media (min-width: #{$_media-table-desk}px) {
		margin-left: 1.82em;
		margin-top: -0.05em;
	}
}

.title > span:nth-child(2) {
	flex: 0 0 100%;
	@media (min-width: #{$_media-table-desk}px) {
		display: none;
	}
}

.leaf1 {
	top: -4vw;
	left: 2vw;
	@media (min-width: #{$_media-table}px) {
		left: 3.8vw;
		top: 5.8vw;
	}
	@include adaptive-set-all-media(
		(
			'phone': (
				width: 100
			),
			'table': (
				width: 145
			),
			'table-desk': (
				'width': 170
			),
			'desk': (
				width: 275
			)
		)
	);
}

.leaf2 {
	left: 16.1vw;
	top: -3.2vw;
	@media (min-width: #{$_media-table}px) {
		left: 14.1vw;
		top: 6.8vw;
	}

	@include adaptive-set-all-media(
		(
			'phone': (
				width: 78
			),
			'table': (
				width: 98
			),
			'table-desk': (
				width: 140
			),
			'desk': (
				width: 196
			)
		)
	);
}

.leaf3 {
	right: 3.3vw;
	top: 31.2vw;

	@include adaptive-set-all-media(
		(
			'table-desk': (
				width: 220
			),
			'desk': (
				width: 272
			)
		)
	);
}

.leaf4 {
	top: 24vw;
	right: -1vw;
	@media (min-width: #{$_media-table}px) {
		top: 4vw;
		right: 5vw;
	}
	@media (min-width: #{$_media-table-desk}px) {
		top: auto;
		right: 2.6vw;
		bottom: 13.3vw;
	}

	@include adaptive-set-all-media(
		(
			'phone': (
				width: 130
			),
			'table': (
				width: 185
			),
			'table-desk': (
				width: 215
			),
			'desk': (
				width: 351
			)
		)
	);
}

.leaf5 {
	top: 38vw;
	right: -1vw;
	@media (min-width: #{$_media-table}px) {
		top: 16vw;
		right: 6vw;
	}
	@media (min-width: #{$_media-table-desk}px) {
		top: auto;
		right: 9.3vw;
		bottom: 0vw;
	}

	@include adaptive-set-all-media(
		(
			'phone': (
				width: 118
			),
			'table': (
				width: 162
			),
			'table-desk': (
				width: 205
			),
			'desk': (
				width: 377
			)
		)
	);
}

.leaf6 {
	right: 2.9vw;
	bottom: -2.3vw;

	@include adaptive-set-all-media(
		(
			'table-desk': (
				'width': 109
			),
			'desk': (
				'width': 149
			)
		)
	);
}

.gridPlates {
	margin-left: -7.2vw;
	margin-top: -6vw;
	@media (min-width: #{$_media-table}px) {
		margin-left: -3.90625vw;
		margin-top: 3.854vw;
	}
	@media (min-width: #{$_media-table-desk}px) {
		margin-left: 0;
		margin-top: 0;
	}

	@include adaptive-set-all-media(
		(
			'table-desk': (
				margin-top: -100,
				height: 280 * 2 + 20
			),
			'desk': (
				margin-top: -212,
				height: 423 * 2 + 32
			)
		)
	);
}

.plate {
	cursor: pointer;
	flex: 0 0;
	min-width: 0;
	flex-basis: 64%;
	margin-left: 7.2vw;
	line-height: 1.4;
	@media (min-width: #{$_media-table}px) {
		margin-left: 3.90625vw;
		flex-basis: calc(50% - 3.90625vw);
	}
	@media (min-width: #{$_media-table-desk}px) {
		margin-left: 0;
		position: absolute;
	}

	@include adaptive-font-sizes(
		(
			'phone': 16,
			'table': 16,
			'table-desk': 12,
			'desk': 21
		)
	);

	@include adaptive-set-all-media(
		(
			'table-desk': (
				width: 280
			),
			'desk': (
				width: 423
			)
		)
	);

	.platePlus {
		opacity: 0;
	}

	@media (hover: hover) or (min-width: #{$_media-table-desk}) {
		.platePlus {
			opacity: 1;
		}

		.plateText {
			opacity: 0;
			clip-path: circle(0% at 50% 50%);
		}

		&:hover .platePlus {
			opacity: 0;
		}

		&:hover .plateText {
			opacity: 1;
			clip-path: circle(70.71068% at 50% 50%);
		}
	}
}

.plateText {
	transition: 600ms ease-in-out;
	padding-left: 1.25em;
	padding-right: 0.625em;
	@media (min-width: #{$_media-table}px) {
		padding-left: 2.1428em;
		padding-right: 1.8095em;
	}
}

.platePlus {
	width: 4.8095em;
	height: 4.8095em;
	transition: 600ms ease-in-out;
}

.plate1 {
	@media (min-width: #{$_media-table-desk}px) {
		top: 40.6%;
		transform: translate(0, -50%);
	}
	@include adaptive-set-all-media(
		(
			'table-desk': (
				left: 0
			),
			'desk': (
				left: 268
			)
		)
	);
}

.plate2 {
	@media (min-width: #{$_media-table-desk}px) {
		top: 0;
	}
	@include adaptive-set-all-media(
		(
			'table-desk': (
				left: 0 + 20 + 280
			),
			'desk': (
				'left': 268 + 32 + 423
			)
		)
	);
}

.plate3 {
	@media (min-width: #{$_media-table-desk}px) {
		bottom: 0;
	}
	@include adaptive-set-all-media(
		(
			'table-desk': (
				left: 0 + 20 + 280
			),
			'desk': (
				left: 268 + 32 + 423
			)
		)
	);
}

.plate4 {
	@media (min-width: #{$_media-table-desk}px) {
		top: 40.6%;
		transform: translate(0, -50%);
	}
	@include adaptive-set-all-media(
		(
			'table-desk': (
				left: 0 + 20 + 280 + 20 + 280
			),
			'desk': (
				left: 268 + 32 + 423 + 32 + 423
			)
		)
	);
}
